<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ໄປທງ່ວລາວ!</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      style="font-family: fangsong"
    >
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Sites</a>
        <!-- <a class="nav-link" href="/campgrounds/new">New Site</a> -->
      </div>
      <div class="navbar-nav" style="margin-left: auto">
        <% if(!currentUser){%>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <%} else {%>
        <p style="margin-top: 0.5em">
          <span style="color: rgb(242, 111, 5)"
            >Logged in as: <%=currentUser.username.toUpperCase()%></span
          >
        </p>
        <a class="nav-link" href="/logout">Logout</a>
        <% }%>
      </div>
    </div>
  </div>
</nav>
